{% extends 'base/base.html' %}
{% block content %}
<div class="container">
{% for tv_show in recent_shows %}
  {% if loop.index is divisibleby 3 %}
  <div class="row">
  {% endif %}
    <div class="col-md-3 thumbnail {{ loop.cycle('', 'col-md-offset-1', 'col-md-offset-1') }}">
      <h1 class="text-center">{{ tv_show.name }}</h1>
      <p class="panel">{{ tv_show.summary }}</p>
    </div>
  {% if loop.index is divisibleby 3 %}
  </div>
  {% endif %}
{% endfor %}
</div>
<div class="container">
  <h1>Here's yo TV shows fool</h1>
</div>
{% endblock %}
